body {
    background-color: #202028;
    display: flex;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    text-align: center;
    
}

.player {
    flex: 1 1 auto;
}

canvas {
    border: .2em solid #fff;
    height: fit-content;
}

#score {
    font-weight: bold;
    background-color: rgb(47, 47, 47);
    padding: 5px;
    width: 100px;
    margin: auto;
}

.bar > button {
    background-image: url("pause-button.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}